RewriteEngine On
RewriteBase /php-calismasi/

# Tüm istekleri index.php dosyasına yönlendir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /php-calismasi/ [QSA,L]
